.betyg{
  display:none;
  position:fixed;
  z-index:3;
  width:300px;
  height:400px;
  overflow:auto;
  background-color:$color--primary--light;
  
  &--content{
    margin:15% auto;
    padding:10px;
    width:80%;
  
  }
  &--close{
    color:$color--black;
    float:right;
    font-size:30px;
    padding-right:2rem;
    padding-top:1rem;
  }
  &--close:hover{
    text-decoration: none;
    cursor:pointer;
    font-size:2em;
  }
  
  }

  //modal in cases
.didyouknow{
  display:none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:3;
  width:500px;
  height:300px;
  overflow:auto;
  background-color:$color--primary--dark;
  color:$color--primary--light;
  border-radius:19px;

  &--content{
    margin:15% auto;
    padding:10px;
    width:80%;
  
  }
  &--close{
    color:$color--white;
    font-weight:bold;
    float:right;
    font-size:30px;
    padding-right:2rem;
    padding-top:1rem;
  }
  &--close:hover{
    text-decoration: none;
    cursor:pointer;
    font-size:2em;
  }
}


#did-you-know{
  @include flexBox(column,center,center);
  button{
    border-radius:1+px;
    padding:1rem;
    border:none;
    cursor: pointer;
    background-color: $color--fontblack;
  }
}


//modal pennstorlek drawingboard

.pennstorlek__modal{
    display: none; 
    background-color: $color--primary--blue;
    position: fixed;
    overflow: auto;
    height: 360px;
    width: 60%;
    z-index: 1;
    right: 200px;
    top: 0;
    border-radius: 19px;

    @include breakpoint(medium-tablet){
     top:0;
     left:0;
     width:100%;
     }
    
  }

.pennstorlek__content{
  background-color: $color--primary--blue;
  color: $color--white;
  width: 80%; 
  div{
    @include flexBox(column,flex-start,space-between);
    padding:2rem;
    p{
      margin-top:1rem;
      margin-bottom:1rem;
      line-height:1.5rem;
    }
    button{
      border-radius: 0;
    }
  }

  }
.pennstorlek__close{
    float: right;
    font-size: 28px;
    margin-right:-30px;
    margin-top:30px;
  }

.pennstorlek__close:hover,
.pennstorlek__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


//modal drawingboard-shortcuts

.drawingboard__shortcuts{
  display: none; 
  border-radius: 19px;
  position: fixed;
  overflow: auto;
  height: 240px;
  width: 260px;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $color--primary--light;
  span{
  margin-top:0;
  position:absolute;
  
  }
  div{
    margin-top:10px;
    padding:1rem;  
    background-color: 
  ul{
    line-height: 1.2rem;
  }

  }
}