.button{
  background-color: $color--primary--light;
  border: none;
  font-family: $font--heading;
  @include font-size(18);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius:15%;

  &--square{
    padding:1rem;
    border-radius: 0%;
    background-color:$color--white;
    color:$color--black;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--square:hover{
    padding:1rem;
    border-radius: 0%;
    background-color:$color--primary--blue;
    color:$color--primary--light;
    font-weight: bold;
    text-transform: uppercase;
  }
}


.button-menu{
  margin-right:-40px;
  background-color:transparent;
  border-color:transparent;
  width:50px;
  height:50px;

  span{
    width:80%;
    height:10px;
  }
  @include breakpoint(xmall-max){
    width:40px;
    margin-right:0px;
  }
}
.button-menu:hover {
  width: 30px;
  text-decoration: none;
}

.text-button{
  font-size: 1em;
  text-decoration: none;
  align-items:center;
}

.wrapper-button-text{
  position: relative;
  overflow: hidden;
}

.text-style-button{
  @include breakpoint (small-max){
  font-size: 1em;}
  font-weight:500;
  font-family: $font--primary;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &--absolute{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  } 
}

.button{
  &--small-round{
    padding:1rem;
    border:none;
    text-transform: uppercase;
    font-family: $font--alternative;
  }
  &--light{
    background-color: $color--primary--light;    
  }
 
}

//background to homepage buttons
.background{
  &--grid{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  }
  // &--ecoline{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/155897432-727bd8eb-6a3a-4ef5-aa41-bbab07381d7d.png);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--palt{
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-image: url(/styles/img/palt-screenshot.png);
  // box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .8);
  // }

  // &--quiz{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/quiz.jpg);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--recipes{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/html-css-kurs-ex-2.png);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--accesibility{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/accessability-tova-jertfelt2021.png);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--queue{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/queue-cases.png);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--cases{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/illustration.jpg);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
    
  // }

  // &--drawing{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/draw-a-picture.png);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }

  // &--clownartistinc{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url(/styles/img/merforsaljning.jpg);
  //   box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  // }
}

//quiz buttons
.buttonsnav{
  background-color: $color--black;
  border:none;
  font-family: inherit;
  padding:0.5rem;
  font-weight:bold;
  color:$color--primary--light;
  text-transform: uppercase;
  font-size:1rem;
  
}
.buttonsnav:hover{
  background-color: $color--fontblack;
  margin-left:3rem;
  border-radius: 100%;
}
//quiz button
.quiz__check {
  margin-top:1rem;
  padding:20px;
  border:none;
  background-color: $color--fontblack;
  color:$color--primary--light;
  text-align: center;
  display: inline-block;
  font-size:16px;

  font-weight: 900;
  text-transform: uppercase;
  margin-bottom:1rem;
  cursor: pointer;
  
  &:hover{
    background-color: $color--primary--light;
    color:$color--fontblack;
  }
  }
  
  