h1, h2, h3, h4, h5, h6 {
  font-family: $font--heading;
  }
  h1 {
      @include font-size(64);
      line-height: 74px;
      @include breakpoint(small-max){
          @include font-size(72);
      line-height: 72px;
      }
      text-transform: uppercase;
  }
  
  h2 {
      @include font-size(50); 
    line-height: 55px;
      @include breakpoint(small-max){
          @include font-size(40);
      line-height: 48px;
      }
      text-transform: uppercase;
  }
  
  h3 {
    @include font-size(40);
    line-height: 48px;
      @include breakpoint(small-max){
        @include font-size(32);
    line-height: 33px;
    }
  }
  
  h4 {
      @include font-size(36);
      line-height: 42px;
      @include breakpoint(small-max) {
        @include font-size(22);
        line-height: 28px;
      }
  }
  
  h5 {
       @include font-size(24);
  }
  
  h6 {
      @include font-size(16);
  }

.light {
    color:$color--primary--light;
}

.align-right{
    text-align:right;
}
  
.heading-homepage{
    font-family: 
    $font--heading;
        @include font-size(72);
        line-height: 72px;
    @include breakpoint(small-max){     
    @include font-size(50);
        line-height: 46px;
        }
    @include breakpoint(xmall-max){
        @include font-size(40);
        line-height: 32px;}
     text-transform: uppercase;

}

.heading{
    font-family: $font--primary;
  
    &--xlg{
        @include font-size(50);
        line-height: 55px;
        @include breakpoint(small-max){
            @include font-size(72);
        line-height: 72px;
        }
    }
    
    &--lg {
        @include font-size(40);
      line-height: 48px;
        @include breakpoint(small-max){
            @include font-size(64);
        line-height: 74px;
        }
    }
    
    &--mediumlg {
        @include font-size(48);
    }
    
    &--regular {
        @include font-size(22);
        line-height: 28px;
        @include breakpoint(small-max) {
          @include font-size(36);
          line-height: 42px;
        }
    }
    
    &--medium {
         @include font-size(24);
    }
    
    &--small {
        @include font-size(16);
    }
}

.heading--alternative{
        font-family: $font--alternative;
       
        &--xlg{
            @include font-size(50);
            line-height: 55px;
            @include breakpoint(small-max){
                @include font-size(72);
            line-height: 72px;
            }
        }
        
        &--lg {
            @include font-size(40);
          line-height: 48px;
            @include breakpoint(small-max){
                @include font-size(64);
            line-height: 74px;
            }
        }
        
        &--mediumlg {
            @include font-size(48);
        }
        
        &--regular {
            @include font-size(36);
            line-height: 42px;
            @include breakpoint(small-max) {
              @include font-size(22);
              line-height: 20px;
            }
        }
        
        &--medium {
             @include font-size(24);
        }
        
        &--small {
            @include font-size(16);
        }
    }