li{
  font-family: $font--heading;
  @include font-size(18);
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

.row-item {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


//OBS: nedan måste göras mobilvänlig också
.disclaimer{
  &__container{
 
    background-color: $color--primary--dark;
    opacity: 90%;

    @include breakpoint(extra-large){
      position: fixed;
      top: 330px;
      right:0;
      width:20%;
      height:15%;
      transition: all 0.3s linear;
    }
    @include breakpoint(large-max){
     visibility: none;
      }
  }
  &__transparentBack{
    visibility: visible;
  }
  &__content{
    @include breakpoint(extra-large){
    width:20%;
    position: fixed;
    top: 350px;
    right: 0;
    height:200px;
    padding:1.5rem;
    transition: all 0.3s linear;
    }
    @include breakpoint(large-max){
    position: absolute;
    top: 1700px;
    right:0;
    width:300px;
    height:200px;
    transition: all 0.3s linear;
    padding:1.5rem;
    transition: all 0.3s linear;
    }
    @include breakpoint(max844){
      visibility: hidden;
    }
    background: $color--white;
    color: $color--primary--dark;
   
    a{
      font-weight: bold;
      color:$color--primary--blue;
      text-decoration: none;
    }
  }
  &__show{
    transform: translateX(0);
  }
  &--close{
    cursor:pointer;
    height:30px;
  }
}

