* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font-size(16);
  font-family: $font--primary;

}

.center {
  text-align: center;
}

.container {
  &--xlarge{
    max-width: 90%;
  }

  &--large{
    max-width:80%;
  }

  &--medium{
    max-width:60%;
  }

  &--small{
    max-width:40%;
  }

  &--align-right{
    margin: 0px 0px 0px auto;
  }

  &--align-left{
    margin: 0px auto 0px 0px;
  }
}

.margin{
  &--right-xs{ 
    margin-right: 0.5em;}
  
  &--xxs{
    margin: 0.5em;
  }

  &--xs{
    margin:1em;
  }

  &--s{
    margin:2em;
  }

  &--m{
    margin:3em;
  }
  &--lg{
    margin:4em;
  }
  &--xl{
    margin:6em;
  }
  &--xxl{
    margin: 8em;
  }
}

.margin-top {
  &--xxsmall{
    margin-top:0.5em;
  }

  &-medium{
  margin-top:3em;
}
}

.margin-bottom-small{
margin-bottom: 2em;
}

.padding{
  &--xxs{
    margin: 0.5em;
  }

  &--xs{
    margin:1em;
  }

  &--s{
    margin:2em;
  }

  &--m{
    margin:3em;
  }

  &--lg{
    margin:4em;
  }
  &--xl{
    margin:6em;
  }
  &--xxl{
    margin: 8em;
  }
}

.div-hide{
  overflow:hidden;
}
.z-index1 {
  position: relative;
  z-index: 1;
}

.z-index2 {
  position: relative;
  z-index: 2;
}


:focus {
    outline: 0;
}

ul {
  margin-top: 0px;
  margin-bottom: 1em;
  padding:1rem;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 2em;
}

.w-layout-grid{
  display:grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.border-item{
  
  &--first{
  @include breakpoint(xmall-max)
  {border-radius: 15%;
  width:100%;}
  width:80%;
  border-radius:54% 46% 52% 48% / 28% 90% 0% 72%;}

  &--second{
    @include breakpoint(xmall-max)
    {border-radius: 15%;
      width:100%;}
    width:80%;
   border-radius: 54% 46% 52% 48% / 0% 74% 26% 100%; 
  }

  &--third{
    @include breakpoint(xmall-max)
    {border-radius: 15%;
    width:100%;}
    width:80%;
    border-radius:45% 55% 52% 48% / 50% 25% 75% 50%;
  }
}

.w{
  max-width:100%;

 &--inline-block{
   display:inline-block;
 }

 &--col1{
  width: 100%;
  left: auto;
  right: auto;

@include breakpoint(medium-tablet-max){
  position: relative;
  float: left;
  min-height:1px;
  width: 33.333%;
}
}
&--col2{
  padding-left: 10px;
padding-right: 10px;
position: relative;
  float: left;
  min-height:1px;
@include breakpoint(medium-tablet-max){
  width:16.6667%;
}
  
}
&--col6{
  @include breakpoint(medium-tablet-max){
    width:50%;
  }
}
}

.overflow{
  overflow: overflow-wrap;
}

.img-skew{
  width:80%;
  max-width:100%;
  transform:rotate(10deg);
}

.page-wrapper{
  @include flexBox(column, center, center);
  padding-top:0;
}
.div-hide {overflow: hidden;}

.drop--red{
  filter: drop-shadow(.5rem .5rem 1rem $color--red)
  //se över för mobil! 
}

.drop--blue {
  filter: drop-shadow(0 6mm 4mm $color--primary--blue);
  //se över för mobil! 
}