* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font-size(16);
  font-family: $font--primary;

}

.center {
  text-align: center;
}

.container {
  &--xlarge{
    max-width: 90%;
  }

  &--large{
    max-width:80%;
  }

  &--medium{
    max-width:60%;
  }

  &--small{
    max-width:40%;
  }

  &--align-right{
    margin: 0px 0px 0px auto;
  }

  &--align-left{
    margin: 0px auto 0px 0px;
  }

  &__flex{
  @include flexBox(column,center,center);
    &--row{
    @include flexBox(row,center,center);
  }
    &--rowreverse{
      @include flexBox(row-reverse,center,center);
    }
}
}

.margin{
  &--right-xs{ 
    margin-right: 0.5em;}
  
  &--xxs{
    margin: 0.5em;
  }

  &--xs{
    margin:1em;
  }

  &--s{
    margin:2em;
  }

  &--m{
    margin:3em;
  }
  &--lg{
    margin:4em;
  }
  &--xl{
    margin:6em;
  }
  &--xxl{
    margin: 8em;
  }
}

.margin-top {
  &--xxsmall{
    margin-top:0.5em;
  }

  &-medium{
  margin-top:2em;
  @include breakpoint(small-max){
    margin-top:1em;
  }
}
}

.margin-bottom-small{
margin-bottom: 2em;
}

.padding{
  &--xxs{
    margin: 0.5em;
  }

  &--xs{
    margin:1em;
  }

  &--s{
    margin:2em;
  }

  &--m{
    margin:3em;
  }

  &--lg{
    margin:4em;
  }
  &--xl{
    margin:6em;
  }
  &--xxl{
    margin: 8em;
  }
  &--right-xxsmall{
    padding-right: 0.5em
  }
}

.div-hide{
  overflow:hidden;
}
.z-index1 {
  position: relative;
  z-index: 1;
}

.z-index2 {
  position: relative;
  z-index: 2;
}


:focus {
    outline: 0;
}

.w-row{
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  @include breakpoint(medium-tablet){
    flex-direction:column;
  }
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 2em;
}

.w-layout-grid{
  display:grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  align-items:center;
}

.border-item{
  width:100%;
  &--first{
  @include breakpoint(small-max)
  {border-radius:86% 14% 52% 48% / 50% 52% 48% 50%;
  }
  @include breakpoint(small-min){
  width:80%;
  border-radius:64% 96% 92% 48% / 40% 99% 0% 99%;}}

  &--second{
    width:100%;
    @include breakpoint(small-max)
    {border-radius:36% 14% 52% 48% / 50% 52% 48% 60%;}
    @include breakpoint(small-min){
    width:80%;
   border-radius: 54% 46% 52% 48% / 0% 74% 26% 100%; }
  }

  &--third{
    width:100%;
    @include breakpoint(small-max)
    {border-radius:86% 14% 52% 48% / 50% 52% 48% 50%;
    width:100%;}
    @include breakpoint(small-min){
    width:80%;
    border-radius:45% 55% 52% 48% / 50% 25% 75% 50%;}
  }
}

.w{
  max-width:100%;

 &--inline-block{
   display:inline-block;
 }

 &--col{
   position: relative;
   float:left;
   min-height:1px;
 }

 &--col1{
  width: 100%;
  left: auto;
  right: auto;
  @include breakpoint(medium-tablet-max){
    position: relative;
    float: left;
    min-height:1px;
  }

}
&--col2{
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  float: left;
  min-height:1px;
@include breakpoint(medium-tablet-max){
  width:30%;
}
  
}
&--col6{
 
  @include breakpoint(medium-tablet-max){
    width:50%;

  }
}

&--col5{
  @include breakpoint(medium-tablet-max){
    width: 66%;
  }
}
}

.img-skew{
  width:80%;
  max-width:100%;
  transform:rotate(10deg);
}

.page-wrapper{
  @include flexBox(column, center, center);
  padding-top:0;
}
.div-hide {overflow: hidden;}



.drop--blue {
  filter: drop-shadow(0 6mm 4mm $color--primary--blue);
  @include breakpoint(small-max){
    filter: drop-shadow(0 0mm 0mm $color--primary--blue);
  }
}

.background--light{
  width:100%;
  background-image: linear-gradient( $color--primary--light, $color--primary--dark);
}

.w-dyn-list{
  @include breakpoint(small-min){
  margin-left:6rem;
  max-width:100%;}
  padding-bottom:1rem;
}

.w-dyn-item{
  @include breakpoint(medium-max-menu){
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
}
centered--flex{
  @include flexBox(column,center,center);
}

.grid--3{
  @include breakpoint(medium-min-menu){display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  column-gap: 2em;;
  row-gap:4em;
  @include breakpoint(medium-max-menu){
   row-gap: 8em;
    
  }

  .left-column,.center-column, .right-column {
    margin: 5px;
    padding: 30px;  
  }
}

.allcases__endtext{
  @include flexBox(column,center,center);
  margin-bottom:10rem;
  padding:1rem;
  width:60%;
    p{
      margin-top:1rem;
      a:hover{
        color:$color--fontblack;
      }
    }
    button{
      border-radius: 12px;
      background-color: $color--primary--light;
      border:none;
      text-transform: uppercase;
      font-size:1rem;
      padding:1rem;
      font-weight:bold;
      cursor: pointer;
    }
 
  }
