.main__cases{background-color:$color--black;
height:100%;
padding-bottom:8rem;} 

.cases{
  &__all{
  padding: 3rem;
  }
  &__article{
    @include breakpoint(medium-tablet-max){
      @include flexBox(row,center,space-between);
    }

    h2 i.fa{
      display:inline-block;
      margin-left:10px;
    }
    .fa-minus::before{
      content: "\f068";
    }
    .fa-plus::before{
      content: "\f067";
    }
  }
}