.main__cv{
  background-color:$color--black;
  height:100%;
  padding-bottom:8rem;
}


.grid-wrapper-jobs{
  grid-column-gap: 1em;
    @include breakpoint(small-min){
      grid-column-gap: 8em;
    }
  grid-row-gap: 1em;
  @include breakpoint(medium-tablet){
    display:flex;
    flex-direction:column;
  }

  }

.container--cv{ 
  @include breakpoint(medium-tablet-max){
    padding-left:3rem;
    padding-right:4rem;
    padding-bottom:3rem;
  }
  a {
    cursor: pointer;
  }
  a:hover  { 
    font-size:1.1em;
    }

  .job{
    margin-bottom:2rem;
    width:90%;
    @include breakpoint(medium-tablet-max){ 
    max-height:500px;
    width:350px;
    padding:2rem;
   }

    h3{
      margin-right:3rem;
      margin-bottom:1rem;
    }
    span{
      line-height: 1.8em;
    }
    p {
      margin: 6px 0;
    }
    a{
      line-height: 1.8em;
    }

    &__nobox{
      @include breakpoint(medium-tablet-max){ 
      height:350px;
      width:350px;
      padding:2rem;
      }

      padding-left:3rem;
      padding-right:3rem;
      margin-bottom:2rem;

      h3{
        margin-right:3rem;
        margin-bottom:1rem;
      }
      span{
        line-height: 1.8em;;
      }
      p {
        margin: 6px 0;
        width:80%;
          @include breakpoint(medium-tablet-max){ 
          width:100%;
          }
      }
        &:hover{
        transition: all 100ms ease-in;
        background-color: $color--black;
        filter: drop-shadow(0 6mm 4mm $color--primary--blue);
        @include breakpoint(small-max){
          filter: drop-shadow(0 0mm 0mm $color--primary--blue);
        }
        border-radius:45% 55% 52% 48% / 50% 25% 75% 50%
    }
    }
    

    &:hover{
      @include breakpoint(medium-tablet-max){ 
    transition: all 300ms ease-in;
    margin-left: -30px;
    background:$color--primary--light;
    h3{
      margin-right:3rem;
      margin-bottom:1rem;
      color: $color--primary--blue;
    }
    span{
      line-height: 1.8em;
      color: $color--primary--blue;
    }
    p {
      margin: 6px 0;
      color: $color--black;
      
    }
    a{
      line-height: 1.8em;
      color: $color--primary--dark;
    }
  }  
}
&__skills{
  @include breakpoint(medium-tablet-max){ 
  height:400px;
  width:350px;
  padding:2rem;
  }

  padding-left:3rem;
  padding-right:3rem;
  margin-bottom:2rem;

    h3{
    margin-right:3rem;
    margin-bottom:1rem;
  }
    span{
    line-height: 1.8em;;
  }
    p{
    margin: 6px 0;
    width:80%;
      @include breakpoint(medium-tablet-max){ 
      width:100%;
      }
  }
    li{
      font-size: 20px;
      line-height:1.8rem;
    }
    ul{
      padding:0.4rem;
      padding-left:0;
    }

    &:hover{
    transition: all 600ms ease-in;
    ul{
      color:$color--primary--light;
    }
    li{
    font-size: 22px;
    }
    p{
      text-transform: uppercase;
      color:$color--white;
    }
    h3{
      color:$color--primary--light;
    }    
}
}
}
}


.cv{
  &__title{
    padding-top:3rem;
    margin-top:5rem;
    @include flexBox(column,center,center);
  }

  &__jobb{
    padding-bottom:4rem;
    h2{
      margin-top:6rem;
      margin-left:1rem;
    }
    @include breakpoint(extra-large){
    padding-bottom:6rem;}
    @include flexBox(column,center,center);
    @include breakpoint(medium-tablet-max){
    @include flexBox(row,center,center);
    }
  }  
  &__education{
  background-color:$color--primary--dark;
  position: relative;
  z-index: 1;
  padding-bottom:3rem;

 
    &:before,
    &:after {
    background: inherit;
    content: '';
    display: block;
    height: 75%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    }

    &:before {
    top: 0;
    transform: skewY(-2deg);
    transform-origin: -100% 0;
    }
  
    &:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 100%;
    }
  }

  &__skills{
    padding-bottom:4rem;
    h2{
      margin-top:6rem;
      margin-left:1rem;
    }
     @include breakpoint(extra-large){
    padding-bottom:3rem;}
    @include flexBox(column,center,center);
    @include breakpoint(medium-tablet-max){
      @include flexBox(row,center,center);
    }
  }  
}


.container--circle{
  @include flexBox(column,center,space-between);

  padding-bottom:3rem;
  h3{
    margin-top:1rem;
 
  }
  canvas {
   margin:0 auto;
  }
}