.drawingboard{
&__main{
  height:1800px;
  width:100%;
  background-color: $color--white;

}
&__intro{
  background-color: $color--black;
  margin-top:5rem;
  padding:1rem;
  position: fixed;
  width:100%;
}
&__nav{
  position: fixed;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
 @include flexBox(row,center,space-between);
 
  cursor: pointer;
  transition: opacity .5s;
}
}

.color{
  margin:0.2rem;
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  transition: transform .5s;
}

.color:hover{
  transform: scale(1.2);
}
.color:nth-child(1){
  background-color: #000;
}
.color:nth-child(2){
  background-color: #344ce6;
}
.color:nth-child(3){
  background-color: rgb(204, 91, 91);
}
.color:nth-child(4){
  background-color: #483d8b;
}
.color:nth-child(5){
  background-color: #d8bfd8;
}

button{
  margin:0.2rem;
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: 19px;
  background-color: $color--fontblack;
  color: #fff;
}
.save{
  background-color: $color--primary--blue;
}
.width{
  background-color: $color--primary--dark;
}
