header {
  position:fixed;
  top:0; 
  width:100%;
  z-index:100;
  background-color: $color--black;
  img {
    display: inline-block;
    max-width: 100%;
  }
  .line{
    @include breakpoint(xmall-max){ 
      display:none;
    }
  }
}

//kolla in denna i desktop
.nav{
  background-color: transparent;
  opacity:1;
  transform: translate3d(0+x, 0%, 0px);
  text-align: right;
  z-index: 100;
  @include breakpoint(xmall-max){ 
    margin-top:1rem;
    margin-bottom:1rem;
  }
}

.flex-split{
  @include flexBox(row, center, space-between);
}

.nav-logo-container{
  width:3em;
  transition: opacity 250ms ease;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  img {
    border-radius:50%;
    @include breakpoint(xmall-max){
      width:40px;
      margin-right:0px;
    }
    @include breakpoint (medium-tablet-max){
      margin-left:3rem;}
  }

}
.logotype--nav:hover {
  opacity: 0.8;
  
} 
.mobile{
 @include breakpoint(small-min){
   display:none;
 }
}

.main-menu-mobile{
  background-color: $color--white;
  color: $color--primary--dark;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 74px;
  padding: 30px 20px;
    li {
      display: block;
      margin-bottom: 20px;
    }
    a {
      @include font-size(38);
      display: block;
      text-transform: capitalize;
      padding: 25px 0;

      @include breakpoint(small-max) {
        padding: 25px 10px;
      }
    }
    a:hover{
      color: $color--primary--blue;
      text-transform: uppercase;
    }
}

.drop-down{
  display:none;
}

.main-menu {
  align-self: center;
  align-items:center;
  @include breakpoint (medium-tablet-max){
    max-width:20%;
    margin-top:1em;
    margin-left:0;
  }
  @include breakpoint (medium-max){
    max-width:30%;
    margin-left:1rem;
  }
  flex-basis:100%;
  @include flexBox(row, center, space-between);
  
  a{
  text-transform: uppercase;
  @include breakpoint(small-max){
    display:none;
  }
  @include breakpoint (medium-tablet-max){
    margin-left:1rem;
  }
  
  }
  a:hover{
    color: $color--white;
    text-transform: uppercase;
  }
  a.active {
    font-size: 150%;}
  
}