.nav{
  background-color: transparent;
  opacity:1;
  transform: translate3d(0+x, 0%, 0px);
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 100;
}

.flex-split{
  @include flexBox(row, center, space-between);
}

.nav-logo-container{
  width:1em;
  transition: opacity 250ms ease;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}