.main__homepage{
  background-color: $color--black;}

.wrapper-img-hero{
  @include flexBox(column, center, center);

  flex-wrap: wrap;
  position:absolute;
  left:15%;
  right:0%;
  top:0%;
  bottom:28%;

  @include breakpoint(xmall-max){
    left:0%;
    bottom:15%;
  }
  @include breakpoint(xsmall-min){
    left:10%;
    bottom:10%;
  }
  @include breakpoint(small-min){ 
    bottom:0%;
    left:15%;
  }
 
img {
  position:relative;
  display:flex;
  overflow:hidden;
  width:40em;
  justify-content: center;
  flex-wrap:wrap;
  align-items:center;
  border-radius:86% 14% 52% 48% / 50% 52% 48% 50%;  
   
}
}

.section-tova{
  @include breakpoint(small-max){ 
    margin-top:5rem;
    padding:0;
    margin-bottom:0em;
  }
  @include breakpoint(small-min){ 
    margin-top:2rem;
    margin-bottom:2em;
  }

  flex-wrap: wrap;
  padding-top:5em;
  min-height: 50vh;
  width:100%;
  margin-bottom:2em;
  

  }
  .first-header{
    @include breakpoint(small-max){ 
      font-size:2rem;
      margin-top:2rem;
      margin-left:2rem;
     }
    @include breakpoint(small-min){
    margin-top:7rem;
    z-index:10;
    padding-left:1rem;
    }
    @include breakpoint(medium-tablet-max){
    margin-top:15rem;
    }
}

.section-whoamI{
  margin-bottom:1em;

  @include breakpoint (extra-large){
    padding-left:3rem;
  }
}

#about-me{
  align-self: stretch;
  justify-self:start;
  margin: 0;
  padding-top:9rem;

  @include breakpoint(xmall-max){
    padding-top:0em;
    margin-top:-50px;
  }

  @include breakpoint(medium-tablet-max){
    padding-top:1rem;
  margin-left:2em;}
}

.col-who-am-I-1{
  @include breakpoint(small-min){
    padding-right:2em;
    padding-left:1em;
  }
  p{
    @include breakpoint(small-max){
      text-align:left;
      margin-bottom:1rem;
     }
  }
  @include breakpoint(xmall-max){
    padding-top:0em;

  }
}

.col-who-am-I-2{
    @include breakpoint(medium-tablet){
    margin-top: 1em;
    }
  padding-right:0px;
  margin-bottom:1em;
    @include breakpoint(small-max){
    padding-left: 0em;
    }
    @include breakpoint(xmall-max){
    margin-top:2em;
    }
  h3{
    text-align:left;
    margin-bottom: 1rem;
    line-height:1.2em;
    }
}

.section-key-figures{
  margin-bottom:5em;
  padding-left:3rem;
    @include breakpoint(xmall-max){
    margin-top:-5%;
    }
}

.line{
  height:1px;
  background-color: $color--white;
}

.cols-key-figures{
  display:flex;
  p{
    line-height:1.8em;
  }

  @include breakpoint(xmall-max){
    margin-top:0em;
    margin-bottom:0em;
    @include flexBox(column,flex-start,center)
  }
  @include breakpoint (extra-large){
    padding-left:3rem;
  }

  // .margin-top-correction{
  //   margin-top:-300px;
  // }
}
.col-key-figures-content{
  padding-top:1em;
  padding-right:0px;
  padding-left:0px;

  @include breakpoint(xmall-max){
    width:100%;
  };
  @include breakpoint(small-min){
    width:50%;
  }
}

.grid-wrapper-key-figures{
  grid-column-gap: 2.5em;
    @include breakpoint(small-min){
    grid-column-gap: 8em;
    }
  grid-row-gap: 2em;
  grid-row-gap: 20px
  
}

.words-about-me{
  height:800px;
  background-color: $color--primary--dark;
  width:100%;
  margin-bottom:3rem;
  padding:3rem;
  padding-bottom:3rem;
  display:flex;
  flex-grow:0;
  flex-shrink:0;
  @include breakpoint(small-max){
    margin-top:-30px;
    h2{
    text-align:center;
    }
  }
  @include breakpoint(
    small-min){
      padding:2rem;
      padding-bottom:3rem;
    }
  
.words-about-me__row {
  @include flexBox(column-reverse, center, center);
  @include breakpoint(medium-tablet-max){  
    @include flexBox(row, center, space-between);
}}

position: relative;
  z-index: 1;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 75%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    transform: skewY(-4deg);
    transform-origin: 0% 0;
  }
  
  &:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 100%;
  }

  .words-about-me__img{
    img {
      margin-top:10px;
      @include breakpoint(small-min){
        margin-left:90px;
         }
      @include breakpoint(xmall-max){
        border-radius:0;
      }
    }
      &:hover{
      opacity:0.7;
       }
  }
  
}

.homepage__slider{
  background-color: $color--primary--dark;
  width:100%;
  @include breakpoint(small-min){ 
  width:90%;
  line-height: 1.3em;
  }
  @include breakpoint(medium-tablet-max){
    margin-top:-50px;
    margin-left:2rem;
  }
  @include breakpoint(medium-min){
    padding:2rem;
    max-width:40%;
  }
      
  .mySlides{
   max-height:560px; 
   margin-bottom:1rem;
   h3{
     margin-bottom:2rem;
   }

   @include breakpoint    (small-max)
      {
      h3{
      margin-top:20px;
      margin-bottom:20px;
        }
      }
  }
  .slide__link{
     margin-top:0.8rem;
     text-transform: uppercase;
  }
  
}

.section-cases{
  margin-bottom:5em;
  padding-bottom:8em;
  @include flexBox(column,center,center);
  margin-top:-50px;
  padding-bottom:7rem;
  margin-bottom:-10px;
  width:100%;
  background-image: linear-gradient( $color--primary--light, $color--primary--dark);
}

.praktik{
  @include breakpoint (extra-large){
    padding-left:3rem;
    width:80%;
  }  
}


.case-item{
  max-width:400px;
  height:400px;
  padding:2em;
  @include breakpoint (small-min){
    padding-bottom:3em;
    margin-bottom:2rem;
  }
  width:100%;
  position:relative;
  background-color:$color--primary--dark;
  display: flex;
  text-align:center;
    @include flexBox(column,center,center);
  h4{
    margin:1rem;
        @include breakpoint (xmall-max){
         text-transform: uppercase;
        }
  }  

  p{
    @include breakpoint (xmall-max){
    font-weight:bold;
    }
  }
}

.case-item:hover{
  margin-bottom:10px;
  transform: rotate(-8deg);
  transition: all 100ms ease-in;
  cursor: pointer;
  box-shadow: inset 0px 0px 400px 110px $color--fontblack;
 
}

.wrapper-button-case-item{
  margin-top:1em;
  p:hover{
    color:$color--primary--light;
    font-size: 150%;;
  }
}

.wrapper-cases{
  padding-right:5rem;
  margin-top:6rem;
  margin-bottom:6rem;
}
