.quiz__page {
background-color: thistle;
color:$color--fontblack;
}

.quiz__main{
  @include flexBox(column,center,center);
  text-align:center;

  #quizHome{
    padding:3rem;
    padding-top:0rem;
  }
}

.quiz{
  &__reveal{
    padding: 1rem;
    margin: 0 auto;
    padding-bottom:9rem;
    text-align: center;
    filter: drop-shadow(0 2mm 4mm $color--black);
    @include flexBox(column,center,center);
    width:400px;
    img{
      border-radius: 19px;
    }
  }
  &__original{
    color: black;}

}

.welcome{
  margin-top:100px;
  margin-bottom:2rem;
  &__disney-img{
    margin:1rem;
    border-radius:86% 14% 52% 48% / 50% 52% 48% 50%;
  }
  @include breakpoint (small-max){
    margin-top:60px;}
}

.question {
  @include breakpoint (small-max){
    @include flexBox(column,center,center)
  }
  padding:1rem;
  margin: 0 auto;
  font-size:24px;
  line-height:1.8rem;
  font-weight: bold;
}

.answers1 {
 padding:1rem;
 font-size:20px;
 line-height: 2rem;
 font-family: $font--primary;
  input{
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: $color--white;
    margin-left:6px;
    margin-right:6px;
    line-height: 3rem;
 }
}
.answers2{
  cursor: pointer;
  height: 20px;
  width: 20px;
}


.images {
  width:300px;
 border-radius: 50%;
}

.bonusquestions{
  &__style{
    padding:4rem;
    padding-top:1rem;
    padding-bottom:1rem;
  }
  .bonusboxspan input{
    padding-top:1rem;
}

&__questions{
  padding-right:4rem;
  padding-left:4rem;
}

&__row{
  @include breakpoint(medium-tablet-max){
    @include flexBox(row,center,space-between);
  }
}
}

.video{
  padding-bottom: 20px;
}

.verygoodsir {
  padding:2rem;
  line-height:3rem;
  background-color: greenyellow;
  border-radius: 19px;
}

.halfright {
  padding:2rem;
  line-height:3rem;
  background-color: yellow;
  border-radius: 19px;
}

.ImLosingToARug {
  padding:2rem;
  line-height:3rem;
  background-color: lightsalmon;
  border-radius: 19px;
}

.youAreASadStrangeLittleManAndYouHaveMyPity{
  background-color: lightpink;
  border-radius: 19px;
  padding:2rem;
  line-height:3rem;
}



