.quiz__page {
background-color: thistle;
color:$color--fontblack;
}

.quiz__main{
  @include breakpoint (small-max){
    @include flexBox(column,center,center);
  }
  text-align:center;
}

.quiz{
  &__reveal{
    font-size: 2rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    line-height:2rem;
    @include flexBox(column,center,center);
  }
  &__original{
    color: black;}

  &__footer{
    font-family: $font--primary;
    @include flexBox(row,center,space-between);
    @include breakpoint(xmall-max){
      @include flexBox(column,center,space-between);
    }
    background-color: $color--black;
    padding:2rem;
    p{
      margin-top:1rem;
      a:hover{
        color:thistle;
      }
    }
    button{
      border-radius: 12px;
      background-color: $color--primary--light;
      border:none;
      text-transform: uppercase;
      font-size:1rem;
      padding:1rem;
      font-weight:bold;
      cursor: pointer;
    }
    button:hover{
      background-color: thistle;
    }
  } 
}



.welcome{
  margin-top:200px;
  margin-bottom:2rem;
  &__disney-img{
    
    margin:1rem;
    border-radius:86% 14% 52% 48% / 50% 52% 48% 50%;  
  }
  @include breakpoint (small-max){
    margin-top:60px;}
}

.question {
  @include breakpoint (small-max){
    @include flexBox(column,center,center)
  }
  padding:1rem;
margin: 0 auto;
font-size:24px;
line-height:1.8rem;
font-weight: bold;
}
 
.answers1 {
 padding:1rem;
 font-size:20px;
 line-height: 2rem;
 font-family: $font--primary;
  input{ 
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: $color--white;
    margin-left:6px;
    margin-right:6px;
    line-height: 3rem; 
 }
}

.answers2{
  cursor: pointer;
  height: 20px;
  width: 20px;
}


.images {
 width: 70%;
 border-radius: 50%;
}

.bonusquestions{
  &__style{
    padding:1rem;
  }
}
.video{ 
  padding-bottom: 20px;
}

.verygoodsir {
 background-image: linear-gradient(rgb(159, 207, 149), rgb(10, 184, 82));
filter: drop-shadow(10px 10px 4px rgb(17, 107, 9));
}

.halfright {
  color: $color--white;
background-image: linear-gradient(rgb(255, 115, 0), orange);
}

.ImLosingToARug {
 background-image: linear-gradient(rgb(240, 199, 124), yellow);
}

.youAreASadStrangeLittleManAndYouHaveMyPity{
color:$color--white;
padding:2rem;
line-height:3rem;
background-image: linear-gradient(rgb(49, 3, 0), rgb(255, 0, 0));
}



